{{#each cars as |car|}}

<div data-id='{{car.id}}' class="collection-text">
  <h1 style="color: white" data-id="{{car.id}}"> <small>{{car.make}} {{car.model}}</small></h1>
  <hr>
  <h2 data-id="{{car.id}}"> <small>Year: {{car.year}}</small></h2>
  <h2 data-id="{{car.id}}"> <small>Color: {{car.color}}</small></h2>
  <input id="mod-button" class="btn-sm btn-primary mod-button" type="button" name:"mod-button" value="Modify Car">

  <!-- Important to Hide/Show -->
  <div class="container col-sm-12 text-center update-area">
    <form class="mod-car" class="col-sm-12">
      <input class="text-center form-control col-xs-12" type="text" name="car[color]" placeholder="Enter New Color">
      <input class="btn-sm btn-success save-button" type="submit" value="Save Changes">
    </form>
    <input class="btn-sm btn-warning cancel-button" type="button" name:"cancel-button" value="Cancel">
  </div>


  <input class="btn-sm btn-danger sell-button" type="button" name:"sell-button" value="Sell Car">
  <!-- <button type="button" name="button">Remove</button> -->

</div>
{{/each}}
